.listingProductsContainer {
  margin: 120px auto;
}
.input-group {
  width: 50%;
  margin: auto;
  input {
    padding: 10px 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.816);
    color: gray;
  }
}

.display-products {
  justify-content: start;
}

.filter-price {
  font-size: 1.2em;
  input {
    margin-top: 5px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.816);
    color: gray;
  }
}

.form-select {
  width: 25%;
}

.filter-products {
  justify-content: center;
  select {
    background-color: rgba(0, 0, 0, 0.809);
    color: gray;
  }
}

@media only screen and (max-width: 992px) {
  .filter-products {
    flex-direction: column;
  }
  .display-products {
    justify-content: center;
  }
  .form-select {
    width: 100%;
  }
  .input-group {
    width: 80%;
  }
  .filterBtn {
    width: 100%;
  }
}
