.listingProductsContainer {
  margin: 120px auto;
}
.input-group {
  width: 50%;
  margin: auto;
  input {
    padding: 10px 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.816);
    color: gray;
  }
}

.filter-price {
  font-size: 1.2em;
  input {
    margin-top: 5px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.816);
    color: gray;
  }
}

.filter-products {
  select {
    background-color: rgba(0, 0, 0, 0.809);
    color: gray;
  }
}
