<div  class="product">
  <div (click)="showDetails(product.id)" class="product-header">
    <img src="{{product.main_image}}" class="card-img-top" alt="product_image">
    <h1 *ngIf="product.disscount" class="disscount">-{{product.disscount}}%</h1>
  </div>
    <div class="product-body">
      <h2 class="product-title text-center">{{product.name}}</h2>
      <div class="product-text p-3 d-flex align-items-center justify-content-between">
        <i class="fas fs-2 whishIcon fa-heart"></i>
        <h1 class="price text-center">{{product.price-(product.price*product.disscount)/100}}€</h1>
        <h2 class="oldPrice" *ngIf="product.disscount">{{product.price}}€</h2>
        <div  (click)="addToCart(product.id)"><i class="fas fs-2 cartIcon fa-cart-plus"></i></div>
      </div>
    </div>
  </div>




