.profileContainer {
  margin: 120px auto;
  img {
    width: 100px;
    color: gray;
  }
}

.personalInfo {
  font-size: 1.2em;
}

.bodyContainer {
  margin-top: 100px;
}

.productImage {
  width: 50px;
}

.no-products {
  font-size: 1.3em;
}
