.menu_nav {
  position: absolute;
  right: 350px;
  min-width: 300px;
  color: white;
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      border: 1px solid #8d99aeff;
      padding: 10px 10px;
      background-color: #2b2d42ff;
      .menu-icon {
        color: #8d99aeff;
        margin: 0px 20px;
      }
    }
    li:last-child {
      border-radius: 0px 0px 30px 0px;
    }
  }
}
