<div class="footer d-flex flex-column text-center justify-content-center">
    <div class="stay-connected-div">
        <h2>STAY CONNECTED</h2>
        <div class="icons">
            <i class="footer-icon fab m-2 fs-2 fa-instagram"></i>
            <i class="footer-icon fab m-2 fs-2 fa-twitter"></i>
            <i class="footer-icon fab m-2 fs-2 fa-youtube"></i>
            <i class="footer-icon fab m-2 fs-2 fa-facebook"></i>
            <i class="footer-icon fab m-2 fs-2 fa-twitch"></i>
        </div>
    </div>
    <div class="footer-nav row d-flex justify-content-center">
        <div class="col-md-3 col-sm-6">
            <ul>
                <li><a href="#">Why Alfa Gaming?</a></li>
                <li><a href="#">Alfa Gaming for Business</a></li>
                <li><a href="#">Alfa Gaming for Business</a></li>
                <li><a href="#">Afillate Program</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <ul>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Customer Support</a></li>
            </ul>
        </div>
        <div class="update-container-footer col-md-6 col-sm-12">
            <p>Get the daily email that makes reading gaming news actually enjoyable. Stay informed and entertained, for free.</p>
            <div class="input-group">
                <input type="text" (keydown.enter)="addEmail()" class="form-control w-25" placeholder="email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="addEmail()">Stay Updated</button>
                </div>
              </div>
        </div>
    </div>
    <div class="footer-last-div">
        <p>© 2021 AlfaGaming.Net. All Rights Reserved</p>
        <p>All trademarks and registered trademarks are the property of their respective owners.</p>
    </div>
</div>